.main-container {
    display: flex;
    flex-grow: 1;
    border: 1px;
    width: 144px;
    height: auto;
    font-family: "HankenGrotesk";
}

.container-1, {
    display: column; 
    flex: 1 1 0px;
    border-radius: 25px;
    padding: 20px;
    text-align: center; 
    background-color: hsl(252, 100%, 67%);
    color: hsl(0, 0%, 100%);
}

.score-container {
    text-align: center;
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1) ;
}

.score {
    font-weight: 800;
}

.percentile.container {
    text-align: center;

}

.eval {
    font-weight: 800;
}